.bebida{	
	display: none;
}
.vinho{	
	display: none;
}
.ingrediente{
	display: none;
	float: left;
}
.qtd{
	display: none;
	margin:22px;
	margin-top:29px;
	
}

#qtdIngredientes{
	
	height:10px;
	margin-top:6px;

}

#checkIngredientes{
	
	height:11px;
	margin-top:7px;

}